@import url('https://fonts.googleapis.com/css?family=Cardo|Cabin|Playfair+Display|Montserrat:400,700,900|Poppins:100,300,400');

body {
  margin: 0;
  padding: 0;
  font-family: 'Cardo','Playfair Display', sans-serif;
  background-color: #f9f9f9;
}

/*
* Keyframes
*/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
:root {
  --fade-in-time: fadein .7s
}

.titleBar {
  padding-top: 10px;
  text-align: center;
  font-family: 'Poppins', 'Montserrat';
}

.titleBar h1 {
  font-weight: 100;
  font-size: 3.6em;
}

.titleBar h1 a{
  color: black;
}

.titleBar h1 a:hover {
  text-decoration: none;
}

.titleBar h1 span {
  font-weight: 400;
}

.bg-light2 {
  background-color: #e6e6e6 !important;
}

/* For large width screens, hide big title and replace with brand tag */
.navbar-brand {
  font-family: 'Poppins', 'Helvetica';
  font-weight: 100;
}

.navbar-brand span {
  font-weight: 400;
}

@media (min-width: 991.98px) {
  .navbar-brand {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding-top: 10px;
    margin-bottom: -12px;
  }
  .titleBar {
    display: none;
  }
  .content-headline {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

/* 
*
* Content tab CSS
*
 */
.header-and-content {
 min-height: calc(100vh - 135px);
}
@media (min-width: 768px){
  .header-and-content {
    min-height: calc(100vh - 107px);
  }
}
.content-headline {
  text-align: center;
}

.post-container {
  padding-left: 20px;
  padding-right: 20px;
}
.loading-wheel-div {
  text-align: center;
  margin-top: 150px;
}
.loading-wheel-div img {
  height: 70px;
  width: 70px;
}
.posts-index {
  animation: var(--fade-in-time);
}
.posts-detail {
  animation: var(--fade-in-time);
}

@media(min-width: 576px){
  .post-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media(min-width: 768px){
  .post-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media(min-width: 992px){
  .post-container {
    padding-left: 130px;
    padding-right: 130px;
  }
}

@media(min-width: 1200px){
  .post-container {
    padding-left: 170px;
    padding-right: 170px;
  }
}

.postTitle {
  font-family: "Poppins";
  font-size: 1.2em;
  font-weight: 300;
}

@media(min-width: 992px){
  .postTitle {
    font-family: "Poppins";
    font-size: 1.8em;
    font-weight: 300;
  }
}
.postBody {
  white-space: pre-line;
  margin-bottom: 20px;
  padding-top: 10px;
}
.tagline {
  white-space: pre-line;
  margin-bottom: 20px;
}
.bottom-button {
  margin-bottom: 15px;
}
.post-date {
  display: flex;
  justify-content: right;
  font-size: 10pt;
  font-style: italic;
}

.postVideo {
  margin: 15px 0 15px 0;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.postPhoto {
  margin: 15px 0 15px 0;
  position: relative;
  width: 100%;
}

.postPhoto img {
  width: 100%;
}

.postVideo iframe {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.read-more-btn-div {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.btn-light {
  background-color: white;
  font-size: 1.2em;
  border: 1px solid #d1d1d1;
}

.btn-light:hover {
  color: #212529;
  background-color: #d1d1d1;
  border-color: #d1d1d1;
}

/* 
*
* About Tab CSS
*
 */
.about-tab {
  animation: var(--fade-in-time);
}
.about-me-img {
  width: 20%;
  margin: 0 auto;
}
.about-me-img img {
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  border-radius: 50%;
}

.about-me-text {
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: justify;
  padding-bottom: 30px;
}

@media (max-width: 991.98px) {
  .about-me-img {
    width: 25%;
  }
  .about-me-text {
    width: 75%
  }
}
@media (max-width: 767.98px) {
  .about-me-img {
    width: 30%;
  }
  .about-me-text {
    width: 90%;
  }
}

/* 
*
* Contact Tab CSS
*
 */
.contact-form-container {
  width: 90%;
  animation: var(--fade-in-time);
}

.contact-form-header {
  margin-bottom: 20px;
  margin-top: 15px;
}

@media (min-width: 576px) {
  .contact-form-container {
    width: 65%;
  }
}
@media (min-width: 768px) {
  .contact-form-container {
    width: 55%;
  }
}
@media (min-width: 992px) {
  .contact-form-container {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .contact-form-container {
    width: 35%;
  }
}

.email-success-message {
  margin-top: 10px;
}
.email-success-message span {
  color: green
}
.email-failed-message {
  margin-top: 10px;
}
.email-failed-message {
  color: red
}
.contact-loading-wheel-div {
  margin-top: 10px;
}
.contact-loading-wheel-div img {
  width: 20px;
  height: 20px;
}

/*
* Footer CSS
*/

.footer-container-outer {
  background-color: #f2f2f2;
  padding-top: 4px;
  padding-bottom: 6px;
  height: 135px;
}
@media (min-width: 768px){
  .footer-container-outer {
    height: 107px;
  }
}
.footer-container {
}
.social-media-links div {
  text-align: center;
  margin-bottom: 4px;
}
.social-media-links img {
  width: 45px;
  height: 45px;
}
.copyright {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}